@model TMRC_CSP.Models.InvoiceSetting
@{
    ViewBag.Title = "InvoiceSetting";
    Layout = "~/Areas/Reseller/Views/Shared/_Layout.cshtml";
}

<h2>Invoice Setting</h2>

@Html.Partial("_InvoiceSetting", Model)