
@{
    ViewBag.Title = "PickMicrosoftOffers";
    Layout = "~/Areas/Reseller/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.common-material.min.css" />
<link rel="stylesheet"
      href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.material.min.css" />
<link rel="stylesheet"
      href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.material.mobile.min.css" />


<script src="https://kendo.cdn.telerik.com/2019.2.514/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.2.514/js/kendo.all.min.js"></script>

<script>
    function Show(e) {
        $(".detailRow").toggle("slow");
        $(e).parent().siblings(".detailRow").toggle("slow");
    }

    function AddToCart(e, Id) {
        var license = $(e).siblings('Input').val();
        if (license != "" && license != 0) {
            $.ajax({
                url: "/Reseller/Home/AddToCart",
                data: { 'Id': Id, 'License': $(e).siblings('Input').val() },
                success: function (result) {
                    if (result == "Successfully Add") {
                        $(e).siblings("b").html("Successfully " + license + " License has been added.").addClass("text-success").removeClass("text-danger");
                        $(e).siblings('Input').val('');
                    }
                    else
                        $(e).siblings("b").html(result).addClass("text-danger").removeClass("text-success");
                }
            });
        }
        else {
            $(e).siblings("b").html("Please mention the license.").addClass("text-danger").removeClass("text-success");
        }
    };
</script>


@Html.Partial("_Steps", 2)


<h2>Pick Microsoft  Offers for Customers</h2>
<hr />

<div id="example">
    <div id="grid"></div>
    <script type="text/x-kendo-template" id="template">
        <div class="tabstrip">
            <ul>
                <li class="k-state-active">
                    Detail Information
                </li>
            </ul>

            <div>
                <div class='employee-details'>
                    <ul>
                        <li><label>Detail:</label>#= Offer.Description #</li>
                        @*<li><label>Cutomer Price:</label>#= CustomerPrice #</li>*@
                        <li><label>MicrosoftId:</label><span>#= Offer.Id #</span></li>
                        <li><label>Buying Price:</label><span></span></li>
                        <li><label>Customer Price:</label><span></span></li>
                        <li><label>Price Unit:</label><span></span></li>
                        <li>
                            <label>License:</label> <input type="number" max="100" min="0" onkeyup="IsNumber(this)" />   <a onclick="AddToCart(this, '#= Offer.Id #')">Add To Cart</a>
                            &nbsp;&nbsp;&nbsp;&nbsp;<b class=""></b>
                        </li>
                        @*<li><label>PurchaseUnitNumber:</label>#= PurchaseUnitNumber #</li>*@
                        @*<li><label>PurchaseUnit:</label>#= PurchaseUnit #</li>*@
                    </ul>
                </div>
            </div>
        </div>

    </script>
    <script>

        $(document).ready(function () {
            var crudServiceBaseUrl = window.location.origin,

                dataSource = new kendo.data.DataSource({
                    //type: "odata",
                    transport: {
                        read: {
                            url: crudServiceBaseUrl + "/Reseller/Home/GetMicrosoftOffers",
                            dataType: "json",
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return { models: kendo.stringify(options.models) };
                            }
                        }
                    },
                    batch: true,


                    schema: {
                        model: {
                            fields: {
                                MicrosoftId: {
                                    field: "Offer.Id",
                                },
                                Name: {
                                    field: "Offer.Name",
                                    type: "string"
                                },
                                Category: {
                                    field: "Offer.Category.Name",
                                    type: "string"
                                },
                                Description: {
                                    field: "Offer.Description",
                                },
                            }
                        }
                    },
                });

            $("#grid").kendoGrid({
                dataSource: dataSource,
                detailTemplate: kendo.template($("#template").html()),
                detailInit: detailInit,
                pageable: false,
                filterable: true,
                sortable: true,
                filterMenuInit: function (e) {
                    $(e.container).css("width", "200px")
                },
                height: 600,
                columns:
                [
                    {
                        field: "Name",
                        width: 300,
                        title: "Name", filterable: { multi: true, search: true }
                    }, {
                        field: "Category",
                        width: 80, filterable: { multi: true, search: true }
                    },
                ]
            });
        });

        function detailInit(e) {
            var detailRow = e.detailRow;
            var crudServiceBaseUrl = window.location.origin;
            detailRow.find(".tabstrip").kendoTabStrip({
                animation: {
                    open: { effects: "fadeIn" }
                }
            });

            var Id = $("." + e.detailCell[0].childNodes[1].className + " ul li:nth-child(2) span").html();
            //Get microsoft Price List
            $.ajax({
                url: "/Reseller/Home/GetMicrosoftOffersPrice",
                data: { 'Id': Id },
                success: function (result) {
                    $("." + e.detailCell[0].childNodes[1].className + " ul li:nth-child(3) span").html((result[0].ResellerPrice).toFixed(2));
                    $("." + e.detailCell[0].childNodes[1].className + " ul li:nth-child(4) span").html((result[0].CustomerPrice).toFixed(2));
                    $("." + e.detailCell[0].childNodes[1].className + " ul li:nth-child(5) span").html(result[0].PurchaseUnitNumber + " " + (result[0].PurchaseUnit == 2 ? "Months" : result[0].PurchaseUnit == 3 ? "Years" : "none"));
                }
            });

        }

        function IsNumber(e) {
            if (Number($(e).val()) > Number($(e).attr('max'))) {
                $(e).val($(e).attr('max'))
            }
            $(e).val($(e).val().replace(/[^0-9]/g, ''));
        }
    </script>
</div>


<div class="actions clearfix text-right mt-10">
    @Html.ActionLink("Previous", "SelectCustomers", "Home", new { Area = "Reseller" }, new { @class = "btn btn-default" })
    @Html.ActionLink("Next", "Cart", "Home", new { Area = "Reseller" }, new { @class = "btn btn-info" })
</div>



