
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Welcome To TMRC Admin Dashboard</h2>

<p>UserName = @ViewBag.UserName</p>
<p>Email = @ViewBag.Email</p>


