@model TMRC_CSP.Models.InvoiceSetting
@{
    ViewBag.Title = "InvoiceSetting";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Invoice Setting</h2>

@Html.Partial("_InvoiceSetting", Model)