<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.common-material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.material.min.css" />
<link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.2.514/styles/kendo.material.mobile.min.css" />
<script src="https://kendo.cdn.telerik.com/2019.2.514/js/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2019.2.514/js/kendo.all.min.js"></script>

<div class="modal-dialog modal-lg" role="document" style="width:1250px;">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div id="example" >
                <div id="grid"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>



<script>

    function OpenModel(id, name) {
        $("#exampleModalLabel").html("Customers of (" +name+")");
        console.log(name)
        //$(document).ready(function () {
        var crudServiceBaseUrl = window.location.origin;
       
        dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: crudServiceBaseUrl + "/Admin/GetResellerCustomers?Id="+id,
                    dataType: "json",
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        return { models: kendo.stringify(options.models) };
                    }
                }
            },
            batch: true,
            pageSize: 20,

            schema: {
                model: {
                    id: "Id",
                    fields: {
                        Id: { from: "MicrosoftId", editable: false, nullable: true, visiblility: false },
                        //TenantId: { from: "CompanyProfile.TenantId",editable: false, nullable: true },
                        CompanyName: {
                            from: "Company", editable: false, nullable: true
                        },
                        Domain: { from: "PrimaryDomain", editable: false, },
                        ResellerId: { editable: false, visiblility: false },
                        //RelationshipToPartner: { from: "RelationshipToPartner", editable: false },

                    }
                }
            }
        });

        $("#grid").kendoGrid({
            dataSource: dataSource,
            pageable: true,
            height: 400,
            //toolbar: [{ name: "create", template: "<input type='submit' value='Add new' onclick=\"location.href='@Url.Action("CreateCustomerAccount", "Admin")'\" />" }],
            columns: [
                //{ field: "Id", title: "Microsoft Id", width: "30px" },
                //  { field: "TenantId", title: "TenantId", width: "20px" },
                { field: "CompanyName", title: "Company Name", width: "30px" },
                { field: "Domain", title: "Domain", width: "30px" },
                //{
                //    title: "ResellerId", title: "Relation",
                //    template: "#if(ResellerId>=1){# #: 'Indirect' # #}else{# #: 'Direct' # #}#", width: "20px"
                //},
                //{
                //    title: "RelationshipToPartner", title: "RelationshipToPartner",
                //    template: "#if(RelationshipToPartner==1){# #: 'Reseller' # #}else{# #: '' # #}#", width: "20px"
                //},

                //{ template: "<a href='/Admin/Users/#:Id#' class='Users'>User & License</a>", title: "Users And License", width: "20px" },
                //{ command: ["edit"], title: "&nbsp;", width: "30px" }
            ],
            //editable: "inline",
            //save: function (e) {

            //    $.ajax({
            //        method: "POST",
            //        url: window.location.origin + "/Reseller/Home/UpdatePrice",
            //        data: { CustomerPrice: e.model.CustomerPrice, Id: e.model.Id }
            //    })
            //        .done(function (msg) {
            //           // alert("Data Saved: " + msg);
            //        });
            //}
        });
        //    });


    }

    //$(document).ready(function () {
    //    //remove the footer small class
    //    $("#grid div:last-child").removeClass("k-pager-sm");
    //});
</script>
