@model TMRC_CSP.Models.TermsConditions

<h2>Terms And Conditions</h2>
<hr />
<div class="row">
    <div class="col-lg-12">
        <p>
            @Model.Info
        </p>
    </div>
</div>


